<footer class="footer">
  <div class="footer__row container">
    <a class="footer__logo" href="/"><img src="./img/svg/logo_white.svg" alt="Логотип"></a>
    <nav class="footer__navigation">
      <ul class="footer__navigation-list">
        <li class="footer__navigation-item"><a class="footer__navigation-link" href="#">Услуги</a></li>
        <li class="footer__navigation-item"><a class="footer__navigation-link" href="#">Интернет-магазин</a></li>
        <li class="footer__navigation-item"><a class="footer__navigation-link" href="#">Контакты</a></li>
        <li class="footer__navigation-item"><a class="footer__navigation-link" href="#">О компании</a></li>
      </ul>
    </nav>
    <div class="footer__contacts">
      <a class="footer__phone" href="tel:88002343475">8 800 234 34 75</a>
      <button class="footer__callback">Обратный звонок</button>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container">
      <a class="footer__confidentiality" href="./policy.html">Политика конфиденциальности</a>
      <a class="footer__developer" href="#">
        <span>Сайт разработан студией</span>
        <svg style="width: 80rem; height: 32rem;">
          <use xlink:href="#web-studio"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
