<header class="header">
  <div class="header__container container">
    <a class="header__logo"><img class="header__logo-image" src="./img/svg/logo.svg" width="106" height="81" alt=""></a>
    <button class="header__geolocation"><img class="header__geolocation-icon" src="./img/svg/geolocation.svg" alt="">Урало-Поволжье</button>
    <a class="header__sign" href="#">Вход в систему мониторинга</a>
    <div class="header__contacts">
      <div class="header__contacts-inner">
        <a class="header__phone" href="tel:88002343475">8 800 234 34 75</a>
        <button class="header__callback">Обратный звонок</button>
      </div>
    </div>
    <nav class="header__navigation">
      <button class="header__burger">Меню</button>
      <ul class="header__navigation-list">
        <li class="header__close">
          <button class="header__close-button"><span class="sr-only">Закрыть меню</span></button>
        </li>
        <li class="header__navigation-contacts">
          <a class="header__phone" href="tel:88002343475">8 800 234 34 75</a>
          <button class="header__callback">Обратный звонок</button>
        </li>
        <li class="header__navigation-sign"><a class="header__sign" href="#">Вход в систему мониторинга</a></li>
        <li class="header__navigation-item"><a class="header__navigation-link" href="#">Услуги</a></li>
        <li class="header__navigation-item"><a class="header__navigation-link _active" href="#">Интернет-магазин</a></li>
        <li class="header__navigation-item"><a class="header__navigation-link" href="#">Контакты</a></li>
        <li class="header__navigation-item"><a class="header__navigation-link" href="#">О компании</a></li>
      </ul>
    </nav>
    <button class="header__basket">
      <svg class="header__basket-icon" style="width: 18rem; height: 18rem; fill: #FF5707"><use xlink:href="#basket"></use></svg>

      <span class="header__basket-text">Товаров: <span>1</span> (<span>22.900₽</span>)</span>
      <span class="header__basket-text_mobile">Корзина</span>
    </button>
  </div>
</header>