.footer {
	background-color: $dark;
	&__row {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__logo {
		border-width: 0 1rem;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0.05);
		flex-basis: 186rem;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 767px) {
			border-width: 0 1rem 1rem 1rem;
			flex-basis: 160rem;
		}
		img{
			width: 106rem;
			@media screen and (max-width: 767px) {
				width: 64rem;
			}
		}
	}
	&__navigation {
		flex: 1;
		padding: 0 80rem;
		@media screen and (max-width: 991px) {
			padding: 20rem;
			display: flex;
			justify-content: center;
		}
		@media screen and (max-width: 768px) {
			padding: 15rem 0;
			order: 3;
		}
		&-list {
			display: flex;
			align-items: center;
			height: 100%;
			justify-content: space-between;
			@media screen and (max-width: 991px) {
				display: block;
			}
			@media screen and (max-width: 767px) {
				text-align: center;
			}
		}
		&-item {
			line-height: 1;
			&:nth-child(n+2){
				@media screen and (max-width: 991px) {
					margin-top: 15rem;
				}
				@media screen and (max-width: 767px) {
					margin-top: 6rem;
				}
			}
		}
		&-link {
			font-weight: 600;
			font-size: 14rem;
			line-height: 19rem;
			text-transform: uppercase;
			color: #acb7c1;
			@media screen and (max-width: 767px) {
				font-size: 12rem;
				line-height: 16rem;
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		width: 289rem;
		height: 161rem;
		background-color: #fff;
		padding: 10rem 61rem 10rem 20rem;
		@media screen and (max-width: 991px) {
			width: 229rem;
			height: auto;
			padding: 20rem 31rem 20rem 20rem;
		}
		@media screen and (max-width: 767px) {
			flex-basis: 170rem;
			height: 100rem;
			padding: 20rem;
			align-items: center;
		}
	}
	&__phone {
		font-weight: 800;
		font-size: 22rem;
		line-height: 1.1;
		letter-spacing: -0.02em;
		will-change: color;
		transition: color 0.15s;
		&:hover{
			color: $orange;
		}
		@media screen and (max-width: 767px) {
			font-size: 16rem;
		}
	}
	&__callback {
		font-size: 14rem;
		line-height: 19rem;
		color: $lite;
		letter-spacing: -0.03em;
		border-bottom: 1rem dashed $lite;
		@media screen and (max-width: 767px) {
			font-size: 13rem;
			line-height: 18rem;
			margin-top: 5rem;
		}
		&:hover{
			color: $dark;
			border-color: $dark;
		}
	}
	&__bottom {
		padding: 25rem 0;
		border-top: 1rem solid rgba(255, 255, 255, 0.05);
		@media screen and (max-width: 767px) {
			padding: 15rem 0 20rem;
		}
	}
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 767px) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}
	&__confidentiality {
		font-weight: 500;
		font-size: 16rem;
		line-height: 1.4;
		letter-spacing: -0.03em;
		color: #fff;
		@media screen and (max-width: 767px) {
			font-size: 11rem;
			line-height: 15rem;
		}
	}
	&__developer {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 16rem;
		line-height: 1.4;
		letter-spacing: -0.03em;
		text-align: right;
		color: rgba(255, 255, 255, 0.7);
		@media screen and (max-width: 767px) {
			font-size: 13rem;
			line-height: 18rem;
			margin-top: 16rem;
		}
		span{
			will-change: color;
			transition: color 0.1s;
			&:hover{
				color: #fff;
			}
		}
		svg {
			margin-left: 10rem;
			fill: #167FE1;
			will-change: fill;
			transition: fill 0.2s;
			@media screen and (max-width: 767px) {
				width: 55rem!important;
				height: 22rem!important;
			}
			&:hover{
				fill: $orange;
			}
		}
	}
}