.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40rem 0 276rem;
	@media screen and (max-width: 991px) {
		margin: 0 0 80rem;
	}
	@media screen and (max-width: 767px) {
		padding: 20rem 0 40rem;
	}
	&__number {
		font-family: $raleway;
		font-weight: 700;
		font-size: 360rem;
		line-height: 1.4;
		text-transform: uppercase;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #e9eef2;
		@media screen and (max-width: 767px) {
			font-size: 160rem;
		}
	}
	&__title {
		font-family: $raleway;
		font-size: 24rem;
		line-height: 1.4;
		text-align: center;
		text-transform: uppercase;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #4a5c6d;
		margin-top: -45rem;
		@media screen and (max-width: 767px) {
			max-width: 332rem;
			font-size: 18rem;
			margin-top: 0;
		}
	}
	&__button {
		margin-top: 30rem;
		padding-top: 30rem;
		padding-bottom: 30rem;
		@media screen and (max-width: 767px) {
			width: 332rem;
			max-width: 100%;
			margin-top: 10rem;
		}
	}
}